<template>
    <div>
        <div class="container information-box center">
            <div class="row">
                <h4 class="information-box--header">Antrenörler ve kulüpler için TechnoSports uygulaması</h4>
                <p class="information-box--">
                    Sahada en çok ne olduğu önemli "ve bu yüzden TeknoSports sadece bir web uygulaması
                    olarak değil aynı zamanda tabletiniz ve akıllı telefonunuz için de mevcut. TechnoSports futbol ve voleybol
                    uygulaması şu anda Android, Windows ve iOS cihazları için çalışıyor. Aralarında antrenman seanslarınız ve oyun günleriniz
                    veya saklanan egzersizleriniz
                    ve taktiklerinizle ilgili tüm önemli bilgileri yalnızca birkaç saniyede bulabilirsiniz - Tek ihtiyacınız olan bir İnternet bağlantısı.
                </p>
            </div>
        </div>
        <div class="gray-container">
            <div class="bottom-banner">
            </div>
            <div class="container-fluid horizontal-card">
                <div class="row">
                    <div class="col-md-6 horizontal-card--image">
                        <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrljcwfs1s2g0177cxxhb3on/500x/volleyball_features_drawing_and_animation_tool_1png.webp" alt="">
                    </div>
                    <div class="col-md-6 horizontal-card--information">
                        <h4 class="horizontal-card--title">Sadece birkaç tıklama ile kuruldu - Mağazaya gerek yok</h4>
                        <p class="horizontal-card--text">Bizim app bir mağazaya ihtiyaç duymaz, bunun yerine doğrudan web sitemizden cihazınıza yüklenebilir. Uygulama ilgili dizüstü bilgisayarınızda, tabletinizde veya akıllı telefonunuzda destekleniyorsa, web uygulamamıza giriş yaptıktan sonra hemen başlangıç sayfasında bir yükleme başlığı bulacaksınız. Alternatif olarak, uygulama ayarları ile manuel olarak indirilebilir.</p>
                        <div class="horizontal-card--button">
                            <button class="dark">INSTALLATION ANDROID</button>
                            <button class="blue">INSTALLATION IOS</button>
                            <button class="green">INSTALLATION WINDOWS</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid horizontal-card">
            <div class="row">
                <div class="col-md-6 horizontal-card--image order-2">
                    <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrljrvoq1s3j0177nar24c9l/500x/volleyball_features_club_managementpng.webp" alt="">
                </div>
                <div class="col-md-6 horizontal-card--information">
                    <h4 class="horizontal-card--title">Web ve uygulamanın en iyisi</h4>
                    <p class="horizontal-card--text">TechnoSports'da modern ve sürdürülebilir teknolojiye büyük önem veriyoruz, bu yüzden uygulamamızın Progressive Web Uygulaması olmasının nedeni bu. Bu can sıkıcı bir güncelleme indirmek zorunda kalmadan, derhal iyileştirmeler ve hata düzeltmeleri yapmamızı sağlar. Ek olarak, bu teknoloji geleneksel uygulamalardan daha güvenli ve hızlıdır ve cihazınızın verilerine erişim gerektirmez.</p>
                </div>
            </div>
        </div>
        <div class="gray-container">
            <div class="container-fluid horizontal-card">
                <div class="row">
                    <div class="col-md-6 horizontal-card--image">
                        <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrk8uu2n1rkl017733sv8c8y/500x/pt_frontend_soccer_imagepng.webp" alt="">
                    </div>
                    <div class="col-md-6 horizontal-card--information">
                        <h4 class="horizontal-card--title">Her yerden erişilebilir - Uygulama olmadan bile</h4>
                        <p class="horizontal-card--text">
                            Evde akıllı telefonunuzu veya tabletinizi mi unuttunuz? Sorun değil, çünkü uygulamada oluşturduğunuz ve güncellediğiniz tüm içeriğe web tarayıcısı üzerinden herhangi bir yerden ve herhangi bir cihazdan anında erişilebiliyor. Bu şekilde, yerel olarak depolanan uygulamalardan ve verilerden tam bağımsızlık yaratırız.</p>
                        <div class="horizontal-card--button">
                            <button class="green">TO THE WEB-APP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <PremiumAd></PremiumAd>
        <GameUp></GameUp>
    </div>
</template>

<script>
    import PremiumAd from "@/components/PremiumAd"
    import GameUp from "@/components/GameUp.vue"
    export default {
        name: "AppPage",
        components: {PremiumAd, GameUp}
    }
</script>

<style scoped>

</style>