<template>
  <div class="home">
    <!--Sports-->
    <Sports></Sports>
    <!--SystemFeature-->
    <SystemFeature></SystemFeature>
    <!--CoachVision-->
    <CoachVision></CoachVision>
    <!--PremiumAd-->
    <PremiumAd></PremiumAd>
    <!--PartnerClub-->
    <PartnerClub></PartnerClub>
    <!--GameUp-->
    <GameUp></GameUp>
  </div>
</template>

<script>
// @ is an alias to /src
import Sports from "@/components/Sports.vue"
import SystemFeature from "@/components/SystemFeature.vue"
import CoachVision from "@/components/CoachVision.vue"
import PremiumAd from "@/components/PremiumAd"
import PartnerClub from "@/components/PartnerClub.vue"
import GameUp from "@/components/GameUp.vue"
export default {
  name: "home",
  components: {Sports, SystemFeature, CoachVision, PremiumAd, PartnerClub, GameUp}
}
</script>
