<template>
    <div>
        <div class="container tablet-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="tablet-card">
                        <div class="tablet-img">
                            <img width="350"
                                 src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrkacodl1rkx0177frtm6krv/x350/pt_sport_selector_soccer_imagepng.webp"
                                 alt="">
                        </div>
                        <button class="card-button green">SOCCER</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tablet-card">
                        <div class="tablet-img">
                            <img width="350"
                                 src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrkacqno1rl00177prbogb9c/x350/pt_sport_selector_volleyball_imagepng.webp"
                                 alt="">
                        </div>
                        <button class="card-button blue">VOLLEYBALL</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tablet-card">
                        <div class="tablet-img">
                            <img width="350"
                                 src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjudwks7j0mqq0160jyu30oyy/x350/pt_sport_selector_handballpng.webp"
                                 alt="">
                        </div>
                        <button class="card-button dark">HANDBALL</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid gray-line">
            <div class="row">
                <div class="container blue-line"></div>
            </div>
        </div>
        <div class="container information-box">
            <div class="row">
                <h4 class="information-box--header">Başka bir spor dalının eklenmesini mi istiyorsun? </h4>
                <p class="information-box--">

                    Biz zaten baskebol gibi sporları yapmak için çalışıyoruz. Bizimle işbirliği yapmak istiyorsanız ve sporunuzun ilk olmasını istiyorsanız, bize support@technosports.com adresinden mesaj göndermekten çekinmeyin.
                </p>
            </div>
        </div>
        <PremiumAd></PremiumAd>
        <GameUp></GameUp>
    </div>
</template>

<script>
    import PremiumAd from "@/components/PremiumAd"
    import GameUp from "@/components/GameUp.vue"

    export default {
        name: "SportsPage",
        components: {PremiumAd, GameUp}
    }
</script>

<style scoped>

</style>