<template>
    <div class="banner">
        <div class="banner-header">
            <h3>Antrenörlerimiz ne diyor</h3>
        </div>
        <div class="apps">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjcr2k574041w0142pmsb9ubp/190x190/blicker_dietmarpng.webp"
                                     alt="" class="coach-img">
                            </div>
                            <div class="card-title">
                                <p class="bold-title">Dietmar Blicker</p>
                                <p>Head of Certification & Quality Management</p>
                                <p class="bold-title">Karlsruher SC, GER</p>
                            </div>
                            <div class="card-text oblique">"Due to planet.training the coordination of all teams is
                                on a whole new level. If we want to set a main focus for all players, we send
                                specific drills to our coaches. That's how we guarantee the highest quality of
                                development for our academy. The extensive statistics help us to check players
                                performance from anywhere at any time."
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjcu2nlpt01dn0125m33mmqja/190x190/testimonial_ellis_rileypng.webp"
                                     alt="" class="coach-img">
                            </div>
                            <div class="card-title">
                                <p class="bold-title">Ellis Riley</p>
                                <p>Assistant Coach</p>
                                <p class="bold-title">Hastings College, USA</p>
                            </div>
                            <div class="card-text oblique">"Planet.training is a great tool when it comes to
                                creating exercise and tactic animations for my daily training sessions. It lets me
                                prepare and save specific sessions in advance, so I can easily adjust and use them
                                when needed. Same goes for my game day preparation."
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjcu3bdas01dr0125iqt2xhcf/190x190/alex_mclaurin_testimonialpng.webp"
                                     alt="" class="coach-img">
                            </div>
                            <div class="card-title">
                                <p class="bold-title">Alex McLaurin</p>
                                <p>Technical Director</p>
                                <p class="bold-title">West Side Alliance SC, USA</p>
                            </div>
                            <div class="card-text oblique">"As the TD of a club with over 60 competitive teams it
                                was important for me to find a software that would be able to connect all coaches
                                and allow them to share training exercises, communicate easily with each other, and
                                have the tools available to them to manage their teams in a professional way.
                                Planet.training has exceeded my expectation in having all in one."
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CoachVision"
    }
</script>

<style scoped>

</style>