<template>
  <div class="footer">
    <div class="banner">
      <div class="footer-top">
        <div class="container-fluid">
          <div class="row">
            <ul class="languages">
              <li class="active">TR</li>
              <li>EN</li>
              <li>ES</li>
              <li>DE</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
                <h1>MORE</h1>
                <ul class="more">
                  <li>FAQ</li>
                  <li>Affiliate Partnership</li>
                  <li>Company news</li>
                  <li>Support Center</li>
                  <li>Soccer drills</li>
                  <li>Drawing Tool</li>
                  <li>Volleyball</li>
                  <li>Privacy Policy</li>
                  <li>Terms and Conditions</li>
                </ul>
            </div>
            <div class="col-md-4">
              <h1>SOCIAL</h1>
              <ul class="social">
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-google-plus-g"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-youtube"></i></li>
                <li><i class="fab fa-github"></i></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h1>CONTACT</h1>
              <ul class="contact">
                <li><i class="fas fa-envelope"></i>&nbsp;&nbsp;support@technosports.com</li>
                <li><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Kaptanpaşa mah. Piyalemumhanesi sok. No/24 D/5 Beyoğlu/İstanbul</li>
                <li><i class="fas fa-phone"></i>&nbsp;&nbsp;(+90)537-784-20-90</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'footer'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
