<template>
    <div class="banner bg-dark">
        <div class="banner-header">
            <h3>OYUNUNU YÜKSELT</h3>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GameUp"
    }
</script>

<style scoped>

</style>