<template>
    <div class="header" :class="$router.currentRoute.name">
        <div class="nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="logo">
                            <a href="/">
                                <img src="../assets/logo.png" alt="Logo" width="200">
                            </a>
                        </div>
                    </div>
                    <div class="col-9">
                        <ul>
                            <li v-for="el in navEl" :key="el.id" @click="locationChange(el)">{{el}}</li>
                            <li>log in</li>
                            <li class="plus">get started</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-text" v-if="$router.currentRoute.name === 'home' || $router.currentRoute.name === 'app'">
            <div class="main-text" v-text="$router.currentRoute.name === 'home' ? 'Oyununu Yükselt' : 'Sanal koçluk uygulaması'"></div>
            <div class="ass-text" v-show="$router.currentRoute.name === 'home'">Yeni bir seviyede takım yönetimi</div>
        </div>
        <div class="away-text" v-else>
            <h1 class="sportspage-text" v-text="$router.currentRoute.name === 'sports' ? 'Spor dalını seç!' : 'Fiyatlandırma'"></h1>
            <p v-show="$router.currentRoute.name === 'pricing'">TechnoSports üyeliği</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Header",
        data: function () {
            return {
                navEl: ['sports', 'app', 'pricing']
            }
        },
        methods: {
            locationChange: function (pageName) {
                this.$router.push({name: pageName});
                this.$forceUpdate()
            }
        }
    }
</script>

<style scoped>

</style>