<template>
    <div class="banner">
        <div class="banner-header">
            <h3>Bizimle Çalışan Kulüpler</h3>
        </div>
        <div class="clubs">
            <div class="container-fluid">
                <div class="row">
                    <ul>
                        <li>
                            <img src="../assets/bjk-logo.png" height="150">
                        </li>
                        <li>
                            <img src="../assets/gs-logo.png" height="150">
                        </li>
                        <li>
                            <img src="../assets/fb-logo.png" height="150">
                        </li>
                        <li>
                            <img src="../assets/ibfk-logo.png" height="150">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PartnerClub"
    }
</script>

<style scoped>

</style>