<template>
    <div class="fixed-content">
        <div class="content-layout">
            <div class="content-text">Ücretsiz premium üyeliğinizle şimdi başlayın</div>
            <button class="blue">ŞİMDİ ÜYE OL</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PremiumAd"
    }
</script>

<style scoped>

</style>