<template>
    <div class="banner">
        <div class="banner-header">
            <h3>Sporunuz için ideal özellik</h3>
        </div>
        <div class="apps">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjue1352k0mr701601ucagtyh/x300/pt_frontend_soccer_image_tabletpng.webp"
                                     alt="">
                            </div>
                            <div class="card-title">Futbol</div>
                            <div class="card-text">
                                Takımınızı bir üst seviyeye taşıyın - Profesyonel futbol web uygulamamız dünya çapında amatör koçlar, profesyonel kulüpler ve dünyanın en iyi futbol akademileri tarafından kullanılıyor. Özelliklerimiz modern futbol koçlarının çalışmalarına uyarlanmıştır. Egzersizler, oturum planlama, taktik ve takım yönetimi - hepsi tek bir yerde, her yerden erişilebilir!
                            </div>
                            <button class="card-button green">THE SOCCER APP</button>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrk3ly8l1rj101779n7aifol/x300/pt_frontend_volleyball_imagepng.webp"
                                     alt="">
                            </div>
                            <div class="card-title">Voleybol</div>
                            <div class="card-text">
                                Başarılı web uygulamamız Ocak 2023'de Voleybol için de başlatılacaktır. Bizim özelliklerimiz arasında ekip ve üye yönetimi ile tatbikat yaratıcısı, oturum planlayıcısı ve taktikleri bulunmaktadır. Bir kulüpte, akademide veya dernekte çalışıyor olmanızın bir önemi yok - TechnoSports ile artık Voleybol antrenman seanslarınızı görselleştirebilir ve optimize edebilirsiniz.
                            </div>
                            <button class="card-button blue">THE VOLLEYBALL APP</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjue133aj0mr40160h20ipq66/x300/pt_frontend_handball_imagepng.webp"
                                     alt="">
                            </div>
                            <div class="card-title">Hentbol</div>
                            <div class="card-text">
                                Başarılı web uygulamamız Ocak 2025'de Hentbol için de başlatılacaktır. Hazır olun çünkü TechnoSports Hentbol antrenörleri, takımları ve akademileri için ilk kapsamlı çevrimiçi App. Bu özellik seti; takım koçluğumuzu, yardımcı koçlarla birlikte çalışmayı, bir egzersiz yaratıcısı, oturum planlayıcısı ve taktiklerini içerir. TechnoSports ile tüm takımınız artık Hentbol antrenman seanslarını optimize edebilir.
                            </div>
                            <button class="card-button dark">THE HANDBALL APP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Sports"
    }
</script>

<style scoped>

</style>