<template>
    <div class="gray-container">
        <div class="bottom-banner">
        </div>
        <div class="banner-header">
            <h3>Koçluğunuzu araçlarımızla düzenleyin ve optimize edin</h3>
        </div>
        <div class="apps">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjr1stt1z1lyh0177ng96q7ny/x250/teamlistpng.webp"
                                     alt="">
                            </div>
                            <div class="card-title">Dijital ekip yönetimi</div>
                            <div class="card-text">
                                Takvim, iletişim ve kişisel istatistikler ve diğer herşey
                                Takımınızın gelişimini takip etmeniz gerekiyor.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjr1stir91ly10177coajptj7/x250/exercisespng.webp"
                                     alt="">
                            </div>
                            <div class="card-title">Sistematik oturum planları</div>
                            <div class="card-text">
                                Kendi animasyonlarınızdan oluşan eğitim seanslarınızı oluşturun
                                veya veritabanından alıştırmalar yapın. Bir odağı vurgulayın ve herşeyi hızlıca bulun.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="kesif-card">
                            <div class="card-image">
                                <img src="https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjr1stlfr1ly40177lmiek63e/x250/gamedaylistpng.webp"
                                     alt="">
                            </div>
                            <div class="card-title">Verimli oyun hazırlığı</div>
                            <div class="card-text">
                                Taktikler, sistemler veya set oyunları; Bir sonraki oyunu görsel olarak hazırlayın
                                ve her şeyi ekip üyelerinizle paylaşın. Bir sonraki galibiyete bir adım daha yaklaş!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="blue">ÖZELLİKLERİMİZİ ÖĞRENİN</button>
    </div>
</template>

<script>
    export default {
        name: "SystemFeature"
    }
</script>

<style scoped>

</style>