body {
  padding: 0;
  margin: 0;
  //font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

ul {
  li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

a:hover {
  color: inherit;
}

button:focus {
  outline: none;
}