@import "global";

.header {
  width: 100%;
  color: #fff;
  font-size: 20px;
  padding: 15px 20px;

  &.home {
    background: url("https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrk0mu3d1ri20177rqs5hxa7/1920x946centro/pt_frontpage_2019jpg.webp") no-repeat;
    height: 900px;

    .home-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      .main-text {
        background: rgba(0, 0, 0, .4);
        font-size: 108px;
        font-weight: bold;
        padding: 0 10px;
      }

      .ass-text {
        font-size: 35px;
        font-weight: bold;
      }
    }
  }

  &.sports, &.pricing {
    background: url("https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrka5iep1rkt0177jnso349x/1920x600centro/pt_fronted_backimage_diagonaljpeg.webp") no-repeat;
    height: 580px;
    background-position: center center;

    .away-text {
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
      top: 25%;
      left: 50%;

      .sportspage-text {
        font-size: 120px;
        font-weight: 600;
      }

      p {
        text-align: center;
        font-size: 30px;
      }
    }

  }

  &.pricing {
    background: url("https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrlny9du1s4i0177zydtf9qp/1920x600centro/diagonals_feature_page2jpeg.webp") no-repeat !important;
    height: 600px;
  }

  &.app {
    background: url("https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjrlrcy561s4y01776l7orpvv/1920x942centro/hi_planettraining_coaching_appjpeg.webp") no-repeat;
    height: 900px;
    background-position: center center;

    .home-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 75%;

      .main-text {
        background: rgba(0, 0, 0, .4);
        font-size: 108px;
        font-weight: bold;
        padding: 0 10px;
      }

      .ass-text {
        font-size: 35px;
        font-weight: bold;
      }
    }
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 25px;
    margin: 0;
    background: transparent;
    z-index: 1000;
    transition: 200ms ease-in;

    &.scrolled {
      background: #343a40;
      box-shadow: 0 5px 5px -5px #333;
      transition: 200ms ease-out;

      ul {
        display: flex;
        margin: 0;
        top: 25%;
        position: relative;
      }
    }

    ul {
      float: right;

      li {
        float: left;
        text-transform: uppercase;
        margin-left: 20px;
        font-size: 14px;
        background: rgba(0, 0, 0, .4);
        text-align: center;
        min-width: 90px;
        line-height: 2.5;
        padding: 0 10px;
        cursor: pointer;
        transition: 200ms;

        &:hover {
          background: rgba(44, 62, 80, 0.70);
        }

        &.plus {
          border: 1px solid #1ac6ff;
          color: #1ac6ff;

          &:hover {
            background: rgba(44, 62, 80, 0.40);
          }
        }
      }
    }
  }

}

.banner {
  margin-top: 50px;
  padding: 0 20px;
}

.banner-header {
  text-align: center;
  margin-bottom: 100px;

  h3 {
    font-size: 34px;
    font-weight: bold;
  }
}

.kesif-card {
  padding: 0 40px;

  .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      display: flex;
      margin: 0 auto;
      width: inherit;

      &.coach-img {
        width: 250px;
      }
    }
  }

  .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 0;

      &.bold-title {
        font-weight: bold;
      }
    }
  }

  .card-text {
    text-align: justify;
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
    margin-bottom: 20px;

    &.oblique {
      font-style: oblique;
      text-align: inherit;
    }
  }

  button {
    display: flex;
    margin: 0 auto;
    color: #fff;
    line-height: 2.3;
    font-size: 16px;
    padding: 0 15px;
    box-shadow: 0 1px 2px grey;

    &.green {
      background: #7cb342;
      border: 1px solid #7cb342;
    }

    &.blue {
      background: #08f;
      border: 1px solid #08f;
    }

    &.dark {
      background: #424242;
      border: 1px solid #424242;
    }
  }
}

.gray-container {
  background: #eee;
  margin-top: 50px;
  padding-bottom: 50px;

  .bottom-banner {
    background: url("https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjakeudyl00ek0137la56dyyk/1920x154/backgrounddiagonalpng.webp") no-repeat;
    height: 200px;
    width: 100%;
    z-index: 1000;
  }
}

button {
  display: flex;
  margin: 20px auto;
  color: #fff;
  line-height: 2.3;
  font-size: 16px;
  padding: 0 15px;
  box-shadow: 0 1px 2px grey;
  font-weight: 700;

  &.green {
    background: #7cb342;
    border: 1px solid #7cb342;

    &:hover {
      background: rgba(124, 179, 66, 0.85);
      border: 1px solid rgba(124, 179, 66, 0.85);
    }
  }

  &.blue {
    background: #08f;
    border: 1px solid #08f;

    &:hover {
      background: rgba(0, 136, 255, 0.85);
      border: 1px solid rgba(0, 136, 255, 0.85);
    }
  }

  &.dark {
    background: #424242;
    border: 1px solid #424242;

    &:hover {
      background: rgba(66, 66, 66, 0.85);
      border: 1px solid rgba(66, 66, 66, 0.85);
    }
  }
}


.fixed-content {
  background: url("https://imgx-static.studentsgoabroad.com/v1/cj7r5j1a30jsl0132374v5q2z/cjcjvjmfh021j0142l45yytyp/1920x960/ctaregistrationbackgroundjpg.webp") no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 500px;
  width: 100%;
  z-index: 100;
  position: relative;

  .content-layout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content-text {
      background: rgba(0, 0, 0, 0.65);
      padding: 25px;
      color: #fff;
      font-size: 25px;
    }
  }
}

.clubs {
  ul {
    margin: 0 auto;
    display: inline-table;
    margin-bottom: 50px;

    li {
      float: left;
      margin: 0 25px;
      cursor: pointer;
    }
  }
}

.bg-dark {
  color: #fff;
  padding: 50px;
  margin-top: 0 !important;

  div {
    margin: 0;
  }
}

.footer {
  background: #424242;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;

  .banner {
    margin-top: 0;
  }

  .footer-top {
    ul {
      display: flex;
      margin: 0 auto;

      li {
        float: left;
        padding-right: 75px;
        padding-left: 25px;
        cursor: pointer;

        &:hover {
          transition: ease-in-out 300ms;
          color: #0088ff;
        }

        &.active {
          color: #0088ff;
        }
      }
    }
  }

  .footer-bottom {
    margin: 50px 0;

    h1 {
      text-align: center;
      font-size: 25px;
    }

    ul {
      padding-inline-start: 0;

      li {
        text-align: center;
        padding: 15px;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          transition: ease-in-out 300ms;
          background: rgba(63, 63, 63, 0.71);
        }
      }

      &.social {
        width: 300px;
        margin: 0 auto;
        display: block;

        li {
          float: left;
          font-size: 34px;
          margin: 0 26px;
          padding: 5px;
        }
      }
    }

    .col-md-4 {
      padding: 0;
    }
  }
}

/* sportspage styles */

.tablet-container {
  margin-bottom: 50px;

  .tablet-img {
    img {
      display: flex;
      margin: 0 auto;
    }
  }
}

.gray-line {
  margin: 15px 0;
  height: .3px;
  width: 100%;
  background: rgba(162, 162, 162, 0.2);

  .blue-line {
    height: 1px;
    background: #0d47a1;
  }
}

.information-box {

  &.center {
    text-align: center;
  }

  margin-bottom: 50px;

  h4 {
    padding: 20px 50px;
    width: 100%;
    font-weight: bold;
  }

  p {
    padding: 20px 50px;
  }
}

.horizontal-card {
  margin: 20px 0;

  &--information {
    margin: auto;
    padding: 0 100px;

    .horizontal-card--title {
      padding-bottom: 25px;
    }
  }

  &--image {
    img {
      margin: 0 auto;
      display: block;
    }
  }

  &--button {
    display: flex;
  }
}